# System files
.DS_Store
*/.DS_Store

# Github Copilot Files
.github/

# Raw Dataset
/Raw Dataset/

# ROI Detection
/ROI Detection V1/Data
/Tooth ROI Model/data
/Tooth ROI Model/data_debug/
/Tooth ROI Model/runs/

# Python cache
*/__pycache__
__pycache__/
*.py[cod]
*$py.class

# Manual Annotation Data
Manual Annotation Data/